[submodule "goopick-claude"]
	path = goopick-claude
	url = https://github.com/MadKangYu/goopick-claude.git
[submodule "goopick-vault"]
	path = goopick-vault
	url = https://github.com/MadKangYu/goopick-vault.git
[submodule "goopick-notion"]
	path = goopick-notion
	url = https://github.com/MadKangYu/goopick-notion.git
